<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>日志在线管理</title>
</head>
<body onunload="closeWebSocket()">
    <div id="logContainer" class="showLogContainer">
        <div></div>
    </div>

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script>
        let socket;
        $(document).ready(function () {
            const fileName = window.location.href.split("?fileName=")[1];
            if (typeof (WebSocket) == "undefined") {
                console.log("您使用的浏览器不支持WebSocket");
            } else {
                //连接到websocket端点，测试服、正式服环境要写应用所在机器的具体域名|ip
                socket = new WebSocket("ws://localhost:8080/wsServer?fileName=" + fileName);
                socket.onopen = () => {
                    console.log("已连接到wsServer");
                };
                socket.onclose = () => {
                    console.log("已断开与wsServer的连接");
                };
                socket.onerror = (e) => {
                    console.log("发生错误", e);
                }
                socket.onmessage = function (event) {
                    console.log("接收到的数据：" + event.data);
                    //添加到页面中
                    $("#logContainer div").append(event.data);
                    //滚动条滚动到最低部
                    $("#logContainer").scrollTop($("#logContainer div").height() - $("#logContainer").height());
                };
            }
        });
        function closeWebSocket(){
            socket.close();
        }
    </script>
</body>
<style type="text/css">
    body{
        background-color: black;
        color: white;
    }
</style>
</html>